header{
    background-image: url(img.anime/kimetsu-no-yaiba-giyu-tomioka-kimetsu-no-yaiba-hd-wallpaper-preview.jpg)
    background-repeat: no-repeat;
    padding: 100px;
}
.cartao{
    display: flex;
    
    }
    